<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
      <a class="navbar-brand" style="padding: 7px;" href="/candidates#top" title="Lights on WA"></a>
        </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li id="brand"><a href="/candidates#top">LIGHTS <%= fa_icon("lightbulb-o") %>N WA</a></li>
        <li class=""><%= link_to fa_icon("group") + " CANDIDATE SEARCH", "/candidates#search-candidates" %></li>
        <li class=""><%= link_to fa_icon("info-circle") + " INFO", "/about" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.nil? %>
          <li id="login"><a><i class="fa fa-sign-in fa-fw"></i> LOGIN</a></li>
        <% else %>
          <li class=""><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> LOGOUT</a></li>
          <% if User.notifications(current_user) > 0 %>
            <li class=""><a href="/user/<%= current_user.id %>"><span class="label label-danger"><%= User.notifications(current_user) %></span> ACCOUNT</a></li>
          <% else %>
            <li class=""><a href="/user/<%= current_user.id %>">ACCOUNT</a></li>
          <% end %>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
