<h2>Explore Campaign Finance in Washington State</h2>
<br />
<%= form_tag(root_url, :method => "post", class: "col-md-8 col-md-offset-2", id: "search-form") do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for candidates." %>
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit"><%= fa_icon "search" %></button>
    </span>
  </div>
<% end %>

<br />

<ul>
  <% if !@candidates.nil? %>
    <% @candidates.each do |cand| %>
      <% if cand.name.split(" ").length > 2 %>
        <li><%= link_to cand.name.split(" ")[1].titlecase + " " + cand.name.split(" ")[0].titlecase, candidate_path(cand.id) %> (<%= cand.year %>)</li>
      <% elsif cand.name.split(" ").length == 2 %>
        <li><%= cand.name.reverse.titlecase %> (<%= cand.year %>)</li>
      <% end %>
    <% end %> 
  <% end %> 
</ul>

