<h2><%= @candidate.name %> (<%= @candidate.year %> <%= @candidate.office %> RACE)</h2>
<br>

<% if flash[:error] %>
  <strong><p class='flash'><%=h flash[:error] %></p></strong>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-user fa-fw"></i> Candidate Overview
    <% if current_user %>
      <% if !(current_user.candidates.include?(@candidate)) %>
        <span class="pull-right"><%= button_to "Save Candidate", candidate_path(@candidate), method: :post, class: "btn btn-info" %></span>
      <% else %>
        <span class="pull-right"><%= link_to "Unfollow", candidate_path(@candidate), method: "delete", class: "btn btn-danger" %></span>
      <% end %>
    <% end %>
  </div>


  <div class="panel-body">
    <%= render partial: "shared/candidate_console" %>

    <div class="col-lg-12">
      <ul id="myTabs" class="nav nav-tabs">
        <li class="active"><%= link_to "Search All Contributions", {:controller => "candidates", :action => "table"}, :remote => true %></li>
        <li class=""><%= link_to "Line Graph of Contributions", {:controller => "candidates", :action => "line"}, :remote => true %></li>
        <li class=""><%= link_to "Sunburst By Location", {:controller => "candidates", :action => "burst"}, :remote => true %></li>
      </ul>
       
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="table">
          <br />
          <div id=table-partial></div>
        </div>
        <div class="tab-pane fade" id="line">
          <div id=line-partial></div>
        </div>
        <div class="tab-pane fade" id="sunburst">
          <div id=sunburst-partial></div>
        </div>
      </div>


    </div>
  </div>
</div>