<h1><%= @candidate.name %> (<%= @candidate.year %> <%= @candidate.office %> Race)</h1>
<% if current_user %>
  <% if !(current_user.candidates.include?(@candidate)) %>
    <span class="sub-credit visible-lg-inline"><%= button_to "Save Candidate", candidate_path(@candidate), method: :post, class: "btn btn-primary" %></span>
  <% end %>
<% end %>

<% if flash[:error] %>
    <strong><p class='flash'><%=h flash[:error] %></p></strong>
<% end %>

<div class="container">
  <div class='example'>
    <h4><span id="found" class="label label-default"><%= fa_icon "book" %></span></h4>
    <table id="stream_table" class='table table-striped table-bordered'>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Amount</th>
          <th data-sort="raised:desc">Date (*)</th>
          <th>Employer</th>
          <th>Occupation</th>
          <th>City</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div id="summary"><div>
  </div>
</div>

<script id="template" type="text/html">
  <tr>
    <td>{{index}}</td>
    <td>{{record.name}}</td>
    <td><%= number_to_currency "{{record.amount}}" %></td>
    <td>{{record.date}}</td>    
    <td>{{record.employer}}</td>
    <td>{{record.occupation}}</td>
    <td>{{record.city}}</td>
    <td>{{record.state}}</td>

  </tr>
</script>
