<h2><%= @candidate.name %> (<%= @candidate.year %> <%= @candidate.office %> Race)</h2>

<% if current_user %>
  <% if !(current_user.candidates.include?(@candidate)) %>
    <span class="sub-credit visible-lg-inline"><%= button_to "Save Candidate", candidate_path(@candidate), method: :post, class: "btn btn-primary" %></span>
  <% end %>
<% end %>

<% if flash[:error] %>
  <strong><p class='flash'><%=h flash[:error] %></p></strong>
<% end %>

<%= render partial: "shared/candidate_burst" %>
<%= render partial: "shared/candidate_line" %>
<%= render partial: "shared/contribution_table" %>
