<h2><%= @candidate.name %> (<%= @candidate.year %> <%= @candidate.office %> RACE)</h2>


<% if flash[:error] %>
  <strong><p class='flash'><%=h flash[:error] %></p></strong>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-user fa-fw"></i> Candidate Overview
    <% if current_user && !(current_user.candidates.include?(@candidate)) %>
      <span class="pull-right"><%= button_to "Save Candidate", candidate_path(@candidate), method: :post, class: "btn btn-default" %></span>
    <% end %>
  </div>

  <div class="panel-body">
    <%= render partial: "shared/candidate_console" %>
    <%= render partial: "shared/candidate_burst" %>
    <%= render partial: "shared/candidate_line" , 
        locals: { 
          span: "contributions",
          object: @date_amounts,
          target: "#contributions",
          title: "Contributions Over #{@candidate.year} Election",
          description: "This graphic shows a time-series of contributions for #{@candidate.name} over the #{@candidate.year} #{@candidate.office.titlecase} election period."

      } %>
    <%= render partial: "shared/contribution_table" %>

  </div>
</div>